/**********************************************************
MEDIA QUERY: 481PX
**********************************************************/

@media screen and (min-width: 481px) {
  .tablet-hide {
    display: none;
  }
  .flex-whats-on li {
    width: 45%;
    margin: 10px;
  }
  .eat-drink-img {
    height: 350px;
  }
  .functions-img {
    height: 350px;
  }
}

/**********************************************************
 TABLET - MEDIA QUERY: 760PX
**********************************************************/

@media screen and (min-width: 760px) {
  /**************************
GENERAL
**************************/
  .no-border {
    border: none;
  }
  .border-left {
    border-left: 1px solid #e5e5e5;
  }
  .border-right {
    border-right: 1px solid #e5e5e5;
  }
  .no-margin {
    margin: 0px;
  }
  .right {
    text-align: right !important;
    padding-right: 50px;
  }
  .flex-reverse {
    flex-direction: row-reverse;
  }
  /*******************************
STRUCTURE
********************************/
  .page-section {
    padding: 50px 10px;
  }
  .inner-page-header {
    margin: 20px auto 0;
  }
  .page-header p {
    line-height: 22px;
  }
  .half {
    display: inline-block;
    flex: 1;
    width: 50%;
    max-width: 50%;
    padding: 0 5px;
  }
  .footerSpacer {
    height: 0;
  }
  .border-right {
    border-right: 1px solid #e5e5e5;
  }
  .inlineLinks a,
  .inlineLinks span {
    margin-right: 15px;
  }
  /*******************************
TEXT
********************************/
  h1 {
    font-size: 44px;
    line-height: 54px;
  }
  h2 {
    font: 600 26px/32px 'Montserrat', sans-serif;
  }
  .page-banner-content p {
    font-size: 16px;
    line-height: 28px;
  }
  .instagram-width {
    width: 750px;
  }
  /*******************************
FORM
********************************/
  .form-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
  }
  .form-input {
    padding: 15px;
    margin: 5px 0px;
    font-size: 14px;
    line-height: 14px;
  }
  .function-select {
    font-size: 14px;
    line-height: 14px;
  }
  .form-message {
    margin: 5px;
    flex-grow: 2;
  }
  .contact-message-box {
    margin: 5px auto;
    flex-grow: 2;
  }
  .newsletter-content,
  .booking-form-content {
    position: relative;
    padding: 40px;
    height: unset;
  }
  .close {
    font-size: 25px;
    top: 10;
    right: 10;
  }
  .newsletter-content {
    padding: 60px 40px;
  }
  .booking-form-content {
    width: 450px;
  }
  /**********************************************
PAGE: HOMEPAGE
**********************************************/
  .home-logo {
    max-width: 400px;
    margin-bottom: 40px;
  }
  /**********************************************
PAGE: WHAT'S ON
**********************************************/
  .flex-whats-on li {
    width: 30%;
  }
  /**********************************************
PAGE: FUNCTION ROOM
**********************************************/
  .function-room-images {
    font-size: 0px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    max-height: 400px;
  }
  .function-room-1 {
    width: 68%;
  }
  .function-room-2 {
    width: 30%;
  }
  .flex-function {
    padding: 30px 20px;
    background-color: white;
  }
  .flex-function li {
    background-color: none;
    width: 50%;
    padding: 0 30px;
  }
  /**********************************************
CONTACT
**********************************************/
  .flex-contact li {
    width: 50%;
    padding: 0px 30px;
  }
}

/**********************************************************
DESKTOP - MEDIA QUERY: 920PX
**********************************************************/

@media screen and (min-width: 920px) {
  /**************************
GENERAL
**************************/
  .mobile-hide {
    display: block !important;
  }
  .desktop-hide {
    display: none;
  }
  .social-contact li {
    width: 33%;
  }
  .form-dropdown::after {
    top: 16px;
  }
  .form-input {
    padding: 20px;
  }
  .anchor {
    display: block;
    height: 80px;
    /*same height as header*/
    margin-top: -80px;
    /*same height as header*/
  }
  .error-page {
    height: calc(100% - 257px);
    max-height: calc(100% - 257px);
  }
  .error-page h1 {
    font-size: 72px;
  }
  .nav-background {
    height: 110px;
  }
  .fa-exclamation-triangle {
    font-size: 60px;
  }
  /**********************************************
NAVIGATION
**********************************************/
  .navigation-menu {
    display: block !important;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0);
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: unset;
  }
  .navigation-menu a,
  .navigation-menu span {
    display: inline-block;
    width: 115px;
    padding: 10px 0;
    vertical-align: middle;
    font: bold 12px/20px 'Montserrat', sans-serif;
    color: white;
    margin: 0 5px 0;
    text-transform: uppercase;
    text-align: center;
  }
  .fade-in,
  .one,
  .two,
  .three,
  .four,
  .five,
  .six {
    animation: none;
    opacity: 1;
  }
  #logo_img {
    position: relative;
    background-image: url('https://stolberg.com.au/img/symbols/logo-small.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    height: 70px;
    top: 10;
    margin: -20px 10px 0;
  }
  /**********************************************
NAVIGATION SCROLLED
**********************************************/
  .navigation-menu.scrolled {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    z-index: 900;
    top: 0;
    padding: 15px 0;
  }
  .navigation-menu a.scrolled,
  .navigation-menu span.scrolled {
    color: black !important;
  }
  #logo_img.scrolled {
    position: relative;
    background-image: url('https://stolberg.com.au/img/symbols/logo-small-invert.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    top: 10;
    margin: -20px 10px 0;
  }
  /*******************************
HEADERS
********************************/
  .fa-angle-double-down {
    color: white;
    font-size: 40px;
    margin-top: 50px;
  }
  /*******************************
SOCIAL / CONTACT STRIP
********************************/
  .social-contact {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 20px;
  }
  .contact {
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 24px;
    width: 300px;
  }
  .contact a {
    padding: 0;
  }
  .social a,
  .social span,
  .contact a,
  .contact p {
    color: white;
  }
  .social span {
    font-weight: normal;
  }
  .contact-a a {
    display: inline-block !important;
    text-align: right;
  }
  /**********************************************
PAGE: EAT & DRINK
**********************************************/
  .flex-eat-drink {
    padding-bottom: 60px;
  }
  .eat-drink-img {
    max-width: 55%;
    min-height: 400px;
    height: 400px;
    width: 600px;
    max-height: 600px;
  }
  .eat-drink-copy {
    width: auto;
    max-width: 45%;
    padding: 40px;
    height: 400px;
  }
  /**********************************************
PAGE: FUNCTIONS
**********************************************/
  .flex-functions {
    padding-bottom: 60px;
  }
  .functions-img {
    max-width: 55%;
    min-height: 400px;
    height: 400px;
    width: 600px;
    max-height: 600px;
  }
  .functions-copy {
    width: auto;
    max-width: 45%;
    padding: 40px;
    height: 400px;
  }
}