

<footer class="footer">

	<div class="footer-content mobile-hide">

		<div class="footer-block">
			<h5>General Enquiries</h5>
			<a class="footer-text opacity" href="mailto:info@stolberg.com.au">
				<p>info@stolberg.com.au</p>
			</a>
			<h5>Function Enquiries</h5>
			<a class="footer-text opacity" href="mailto:info@stolberg.com.au">
				<p>info@stolberg.com.au</p>
			</a>
		</div>

		<div class="footer-block">
			<h5>Operating Hours</h5>
			<p>12pm – Late / 7 Days</p>
			<p>Kitchen:</br>Sun - Thurs 12pm - 9pm</br>Fri & Sat: 12pm - 10pm</p>
		</div>

		<div class="footer-block no-border partner">
			<h5>Partners with</h5>
			<a class="partner" href="https://www.royalderbyhotel.com.au"><img src="img/symbols/partner.svg" alt="Royal Derby Hotel"></a>
		</div>
	</div>

		<div class="footer-copyright">
			<p>&copy;2018. Stolberg Beer Café | All Rights Reserved</p>
		</div>

</footer>
