<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="page-section function-form white-bg">
  <div class="inner-page-section">
    <h2 class="center" data-aos="fade">Function Enquiry</h2>

    <form name="function-form" method="POST" netlify action="/form-submission">
      <input type="hidden" name="function-form" />
      <div id="function-form-message"></div>
      <div class="form-flex" data-aos="fade">
        <div class="half">
          <input class="input form-input" type="text" id="name" name="name" required placeholder="Name" />
          <input class="input form-input" type="email" id="email" name="email" required placeholder="Email" />
          <input class="input form-input" type="text" id="phone" name="phone" placeholder="Contact Number" />
          <input class="input form-input" type="text" id="occasion" name="occasion" placeholder="Occasion" />
        </div>
        <div class="half">
          <input class="input form-input" type="text" id="date" name="date" placeholder="Event Date" />
          <input class="input form-input" type="text" id="time" name="time" placeholder="Event Time" />
          <input class="input form-input" type="text" id="guests" name="guests" placeholder="Number of Guests" />

          <span class="form-dropdown">
            <select class=" form-input function-select" id="roomOption" name="roomOption" placeholder="Preferred Location">
              <option value="" disabled selected hidden>Preferred Location</option>
              <option value="Likor Lounge" name="Likor Lounge">Likor Lounge</option>
              <option value="The Mahogany Room" name="The Mahogany Room">The Mahogany Room</option>
              <option value="The Front Bar" name="The Front Bar">The Front Bar</option>
              <option value="The Stolberg Room" name="The Stolberg Room">The Stolberg Room</option>
              <option value="No Preference" name="No Preference">No Preference</option>
            </select>
          </span>
        </div>
      </div>
      <textarea class="input form-input form-message" id="message" name="message" required placeholder="Message..."></textarea>
      <div data-netlify-recaptcha></div>
      <button class="button-submit" type="submit">Submit</button>

    </form>

  </div>
</div>


<script src="../js/function-app.js"></script>