<div class="page-section function-form">
  <div class="inner-page-section padding-top-reset">
    <h2 class="center">Function Enquiry</h2>

    <div id="function-form-messages"></div>

    <form class="form form-messages" id="ajax-function-form" method="post" action="php/mailer-functions.php">
      <div class="form-flex">

        <div class="half">
          <input class="input form-input" type="text" id="name" name="name" required="required" placeholder="Name">

          <input class="input form-input" type="text" id="phone" name="phone" required="required" placeholder="Phone Number">

          <input class="input form-input" type="text" id="email" name="email" required="required" placeholder="Email">

          <input class="input form-input" type="text" id="occasion" name="occassion" required="required" placeholder="Occassion">
        </div>

        <div class="half">
          <input class="input form-input" type="text" id="date" name="date" required="required" placeholder="Event Date">

          <input class="input form-input" type="text" id="time" name="time" required="required" placeholder="Event Time">

          <input class="input form-input" type="text" id="guests" name="email" required="required" placeholder="Number of Guests">

<span class="form-dropdown">
          <select class=" form-input function-select" id="room" placeholder="Preferred Location">
            <option value="" disabled selected hidden>Preferred Location</option>
            <option value="Likor Lounge">Likor Lounge</option>
            <option value="The Mahogany Room">The Mahogany Room</option>
            <option value="The Front Bar">The Front Bar</option>
            <option value="The Stolberg Room">The Stolberg Room</option>
        </select>
        </span>
        </div>

        <div class="form-message">
          <textarea class="input form-input" id="message" name="message" required="required" placeholder="Message..."></textarea>
        </div>
        <input class="button-submit left" type="submit" value="Submit"/>

      </div>

    </form>
  </div>
</div>
