

<header>
  <div class="nav-button desktop-hide"><span class="fas fa-bars desktop-hide"></span></div>
  <a class="opacity desktop-hide" id='logo_img' href="/"></a>

  <nav class="nav-bar wow fadeIn" data-wow-delay="0.5s">
    <a class="orange-hover mobile-hide" href="eat-drink.html">Eat & Drink</a>
    <a class="orange-hover mobile-hide" href="/whats-on.html">What's On</a>
    <a class="orange-hover mobile-hide" href="/functions.html">Functions</a>
    <a class="opacity mobile-hide" id='logo_img' href="./"></a>
    <a class="orange-hover mobile-hide" href="/gallery.html">Gallery</a>
    <a class="orange-hover mobile-hide" href="/contact.html">Contact</a>
    <a class="orange-hover mobile-hide" href="#">Book</a>
  </nav>

  <nav class="mobile-menu mobile-menu-hide">
    <a class="orange-hover fade-in one" href="/eat-drink.html">Eat & Drink</a>
    <a class="orange-hover fade-in two" href="/whats-on.html">What's On</a>
    <a class="orange-hover fade-in three" href="/functions.html">Functions</a>
    <a class="orange-hover fade-in four" href="/gallery.html">Gallery</a>
    <a class="orange-hover fade-in five" href="/contact.html">Contact</a>
    <a class="orange-hover fade-in five" href="#">Book</a>
  </nav>
</header>
