<header>
  <div class="nav-button desktop-hide"><span class="fas fa-bars"></span></div>
  <div class="nav-close desktop-hide"><span class="fas fa-times"></span></div>
  <a class="opacity desktop-hide" id='logo_img' href="/"><img src="img/symbols/logo-small.png" alt="The Stolberg Logo - Mobile"></a>

  <!-- Desktop Nav -->
  <nav class="nav-bar wow fadeInDown" data-wow-delay="0.75s">
    <a class="green-hover mobile-hide" href="eat-drink">Eat & Drink</a>
    <a class="green-hover mobile-hide" href="/whats-on">What's On</a>
    <a class="green-hover mobile-hide" href="/functions">Functions</a>
    <a class="opacity mobile-hide"  id='logo_img' href="./" alt="The Stolberg Logo - Desktop"></a>
    <a class="green-hover mobile-hide" href="/gallery">Gallery</a>
    <a class="green-hover mobile-hide" href="/contact">Contact</a>
    <span class="green-hover mobile-hide booking">Book</span>
  </nav>

  <!-- Mobile Nav -->
<div class="mobile-menu-container">
  <nav class="mobile-menu">
    <a class="green-hover fade-in one" href="/eat-drink">Eat & Drink</a>
    <a class="green-hover fade-in two" href="/whats-on">What's On</a>
    <a class="green-hover fade-in three" href="/functions">Functions</a>
    <a class="green-hover fade-in four" href="/gallery">Gallery</a>
    <a class="green-hover fade-in five" href="/contact">Contact</a>
    <span class="green-hover fade-in six booking">Book</span>
  </nav>
  </div>
</header>


