<header>
  <div class="nav-button desktop-hide"><span class="fas fa-bars"></span></div>
  <div class="nav-close desktop-hide"><span class="fas fa-times"></span></div>
  <a class="opacity desktop-hide" id='logo_img' href="/"><img src="http://stolberg.com.au/img/symbols/logo-small.png" alt="The Stolberg Logo - Mobile"></a>

  <!-- Navigation Links-->
  <nav class="navigation-menu" data-aos="fade-down">
    <a class="green-hover fade-in one" href="/eat-drink">Eat & Drink</a>
    <a class="green-hover fade-in two" href="/whats-on">What's On</a>
    <a class="green-hover fade-in three" href="/functions">Functions</a>
    <a class="opacity" id='logo_img' href="./" alt="The Stolberg Logo - Desktop"></a>
    <a class="green-hover fade-in four" href="/gallery">Gallery</a>
    <a class="green-hover fade-in five" href="/contact">Contact</a>
    <span class="green-hover fade-in six booking">Book</span> 
  </nav>
</header>


