<div class="newsletter display-none">
	<div class="newsletter-content">
		<a href="#" class="sign-up-close"><i class="fas fa-times"></i></a>

	<h2 class="center white">Sign Up</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

	<form action="//royalderbyhotel.us13.list-manage.com/subscribe/post?u=93f9780a786c0d6b41bea8881&amp;id=955c16a347" method="post" id="signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		<input class="input signup-input" type="email" value="Email Address" name="EMAIL" class="required email newsletter-email" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

		<input class="button-submit center" type="submit" value="Submit" />

		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>

		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_93f9780a786c0d6b41bea8881_955c16a347" tabindex="-1" value=""></div>
	</form>
		</div>
</div>

<script src="js/scripts.js" type="text/javascript" charset="utf-8"></script>
