<div class="newsletter-container">

	<div class="newsletter">
		<div class="newsletter-content">
			<span class="close">
				<i class="fas fa-times close"></i>
			</span>

			<h3 class="center white">Sign Up For News & Offers</h3>
			<p>Keep up to date with the latest specials and what's on at The Stolberg. </p>

			<form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C3D148A3EC8884A9B01DF330F0982E4E297AB154AE62B51CB184CDFE14FDBCF5259277D2BAA17380779E9D08192DCBEF1">

				<input class="form-input" id="fieldName" name="cm-name" type="text" placeholder="Name"/>
				<input class="form-input js-cm-email-input" id="ieldEmail" name="cm-coird-coird" type="email" placeholder="Email" required/>
				<button class="button-submit js-cm-submit-button" type="submit">Subscribe</button>

			</form>
			<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
		</div>
	</div>
</div>
<script src="js/scripts.js" type="text/javascript" charset="utf-8"></script>