

<div class="social-contact">

  <div class="social">
    <a target="_blank" href=""><i class="fab fa-facebook-f orange-hover"></i></a>
    <a href="/gallery.html"><i class="fab fa-instagram orange-hover"></i></a>
    <span class="orange-hover sign-up">Sign Up</span>
  </div>


  <div class="contact">
    <a class="desktop-hide" href="tel:+61394951444"><i class="desktop-hide fas fa-phone fa-flip-horizontal orange-hover"></i></a>
    <a class="orange-hover mobile-hide" href="tel:+61394951444"><b>03 9495 1444</b></a>
    <a class="orange-hover mobile-hide" target="_blank" href="https://goo.gl/maps/EG9oJ1L4U4o">Corner Bell St & Plenty Rd, Preston, VIC 3072</a>
  </div>


</div>
