

<ul class="social-contact">
  <li class="social">
    <a target="_blank" href=""><i class="fab fa-facebook-f green-hover"></i></a>
    <a href="/gallery.html"><i class="fab fa-instagram green-hover"></i></a>
    <span class="green-hover sign-up">Sign Up</span>
  </li>

  <li class="hours mobile-hide">
    <span>12pm – Late / 7 Days</span>
    <span>Kitchen: Sun - Thurs 12pm - 9pm Fri & Sat: 12pm - 10pm</span>
  </li>

  <li class="contact">
    <a class="desktop-hide" href="tel:+61394951444"><i class="desktop-hide fas fa-phone fa-flip-horizontal green-hover"></i></a>
    <div class="contact-a">
      <a class="green-hover mobile-hide" href="tel:+61394951444">03 9495 1444 / </a>
      <a class="green-hover mobile-hide" href="mailto:info@stolberg.com.au">info@stolerg.com.au</a>
    </div>
    <a class="green-hover mobile-hide" target="_blank" href="https://goo.gl/maps/EG9oJ1L4U4o">Corner Bell St & Plenty Rd, Preston, 3072</a>
  </li>
</ul>
